
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="app">
                        <img alt="Brand" class="logoimage" src="images/UMD logo.jpg">
                    </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="app">
                            Home
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.insert">
                            Insert 
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.browse">
                            Browse 
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.search">
                            Search  
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.update">
                            Update & delete 
                        </a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    