<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">IoTA</h2>
                    <p class="lead">	UMD has joined the new IoT Alliance Australia Organization formed recently to explore the rapidly developing world of the Internet of Things (IoT). UMD already has a number of IoT cloud based data capture systems and services, with more under development. 
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/iota.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Plant Access</h2>
                    <p class="lead">
						Plant Access	Plant Access Grows Its Competitive Edge with Industry-First RFID solution implemented by UMD using Honeywell Scanning & Mobility (HSM) RFID tags, Readers and UMD's engineering ICT solutions skills.
					</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/plantaccess.gif" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
	</div>

	<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Melbourne Business Awards</h2>
                    <p class="lead">	UMD was a finalist in Melbourne's South East (MSE) Business Award for "Medium Enterprises". MSE is a regional economic development alliance of ten local government authorities (Councils) and utility companies with support from State and Federal government departments.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/melbourneawards.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

	<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Monash Business Awards</h2>
                    <p class="lead">
						UMD has been presented with the 2012-2013 Innovation Award at the 19th Annual Monash Business Awards (MBA) evening. Founded in 1994, the MBA aims to promote business excellence and success by recognising the significant achievements and innovations of businesses situated within the City of Monash.
					</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/monashaward.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
	</div>
</div>
    