<ol class="breadcrumb">
  <li><a ui-sref="app">Home</a></li>
  <li class="active"><a ui-sref="app.overview">overview</a></li>
</ol>

<!-- Page Content -->
        <div id="page-content-wrapper">
            <h2>Functions</h2>
            <p>create,delete,update,and search a specific item in database</p>


            <hr>
            <h2>Notification</h2>
            <p>
               many image can be added to a product, but only the first image is the shown one, so upload one image is fine.
            </p>
        </div>
<!-- /#page-content-wrapper -->